@import './pallet.scss';

.navigation {
  padding-bottom: 40px;
  button{
    background-color: $colour_navigation-button;
    color: $colour_white;
    font-weight: bold;
    width: 20%;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    &:hover{
      background-color: $colour_navigation-button-hover;
      cursor: hand;
      cursor: pointer;
    }
  }
  
  &__button {
    &--left {
      float: left;
    }
    &--right {
      float: right;
    }
    &--disabled{
      background-color: $colour_grey--light !important;
    }
  }
}