$colour_grey--lighter: #F2F2F2;
$colour_grey--light: #919191;
$colour_blue--lighter: #30A7D7;
$colour_blue--light: #1B82B1;
$colour_white: #FFFFFF;

$colour_navigation-button: $colour_blue--lighter;
$colour_navigation-button-hover: $colour_blue--light; 
$colour_image-background: $colour_grey--lighter;
$colour_pokedex-number: $colour_grey--light;

$colour_poison: #B97FC9;
$colour_water: #4592C4;
$colour_normal: #A4ACAF;
$colour_bug: #729F3F;
$colour_ghost: #7B62AF;
$colour_fairy: #FDB9E9;
$colour_fighting: #D56723;
$colour_electric: #EED535;

$colour_dragon_start: #53A4CF;
$colour_dragon_end: #F16E57;

$colour_grass: #9BCC50;
$colour_ice: #51C4E7;

$colour_ground_start: #F7DE3F;
$colour_ground_end: #AB9842;

$colour_flying_start:#3DC7EF;
$colour_flying_end: #BDB9B8; 
$colour_psychic: #F366B9;
$colour_dark: #707070;
$colour_fire: #FD7D24;
$colour_rock: #A38C21;
$colour_steel: #9EB7B8;
