@import '../app/styles/base.scss';

@keyframes pokemon-hop{
  0% {
    position: relative;
    top: -0.5em;
  }
}

@keyframes spin{
  100%{
    transform: rotate(360deg);
  }
}

.pokemon-list {
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  &__item {
    width: 20%;
    margin: 2.5%; 
    background-color: $colour_image-background;
    font-weight: bold;
    &:hover{
      animation-name: pokemon-hop;
      animation-duration: 0.5s;
      cursor: hand;
      cursor: pointer;
    }
    &__image {
      width: 80%;
      display: block;
      margin: auto;
    }
    &__description{
      width: 100%;
      background-color: $colour_white;
      span{
        display: block;
      }
      &__pokedex-number{
        font-size: 0.75em;
        color: $colour_pokedex-number;
        padding-top: 15px;
        margin-bottom: 15px;
      }
    }
  }
}

.loading-spinner{
  width: 100%;
  &__image{
    display: block;
    margin: auto;
    margin-top: 10px;
    max-width: 20px;
    animation: spin 0.5s linear infinite;
  }
}

.pokedexSearch{
  position: absolute;
  top: 0;
  left: 35%;
  height: 40px;
  width: 30%;
  background-color: #313131;
  &__field{
    display: block;
    margin: auto;
    margin-top: 8px;
    border: 3px solid $colour_grey--light;
    border-radius: 6px;
    width: 60%;
  }
}

.no-results-message{
  width: 100%;
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}