@import '../styles/base';

@keyframes pokemon-hop{
  0% {
    position: relative;
    top: -0.5em;
  }
}

@keyframes spin{
  100%{
    transform: rotate(360deg);
  }
}

.pokemon-list {
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  &__item {
    width: 20%;
    margin: 2.5%; 
    background-color: $colour_image-background;
    &:hover{
      animation-name: pokemon-hop;
      animation-duration: 0.5s;
    }
    &__image {
      width: 90%;
      display: block;
      margin: auto;
    }
  }
}

.loading-spinner{
  width: 100%;
  &__image{
    display: block;
    margin: auto;
    max-width: 50px;
    animation: spin 1.5s linear infinite;
  }
}