$colour_grey--lighter: #F2F2F2;
$colour_grey--light: #919191;
$colour_blue--lighter: #30A7D7;
$colour_blue--light: #1B82B1;
$colour_white: #FFFFFF;

$colour_navigation-button: $colour_blue--lighter;
$colour_navigation-button-hover: $colour_blue--light; 
$colour_image-background: $colour_grey--lighter;
$colour_pokedex-number: $colour_grey--light;

