@import "../../styles/base";

.pill{
  display: inline-block;
  text-align: center;
  font-weight: lighter;
  &--small{
    font-size: 0.75em;
    margin-right: 5px;
    width: 30%;
    padding: 3px;
    border-radius: 3px;
  }
  &--Poison, 
  &--Water, 
  &--Bug, 
  &--Ghost, 
  &--Fighting, 
  &--Dragon, 
  &--Psychic, 
  &--Dark, 
  &--Fire, 
  &--Rock{
    color: $colour_white;
  }
  &--Poison{
    background-color: $colour_poison;
  }
  &--Water{
    background-color: $colour_water;
  }
  &--Normal{
    background-color: $colour_normal;
  }
  &--Bug{
    background-color: $colour_bug;
  }
  &--Ghost{
    background-color: $colour_ghost;
  }
  &--Fairy{
    background-color: $colour_fairy;
  }
  &--Fighting{
    background-color: $colour_fighting;
  }
  &--Electric{
    background-color: $colour_electric;
  }
  &--Dragon{
    background: linear-gradient(to bottom, $colour_dragon_start, $colour_dragon_end);
  }
  &--Grass{
    background-color: $colour_grass;
  }
  &--Ice{
    background-color: $colour_ice;
  }
  &--Ground{
    background: linear-gradient(to bottom, $colour_ground_start, $colour_ground_end);
  }
  &--Flying{
    background: linear-gradient(to bottom, $colour_flying_start, $colour_flying_end);
  }
  &--Psychic{
    background-color: $colour_psychic;
  }
  &--Dark{
    background-color: $colour_dark;
  }
  &--Fire{
    background-color: $colour_fire;
  }
  &--Rock{
    background-color: $colour_rock;
  }
  &--Steel{
    background-color: $colour_steel;
  }
}